.footer-contact {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(8, 52, 109);
  color: white;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  z-index: 100;
}

.contact-item a:hover {
  color: rgb(255, 225, 77);
}
