/* Mobile Sizing */


h4 {
  font-weight: 500;
}

.welcome-message{
  margin: auto;
  text-align: center;
  position: relative;
  height: 0px;
  top: 80px;
  z-index: 1;
  color: white;
  font-size: 58px;
  font-weight: 300;
  font-style: oblique;
}

.background {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.container {
  margin-top: 20px;
  padding-top: 10px;
  overflow: auto;
  z-index: 1;
}

.test-shape-0 {
  width: 100%;
  height: 300px;
  position: relative;
}

.test-shape-1 {
  width: 100%;
  height: 300px;
  background-color: rgb(172, 213, 231);
  opacity: 66%;
  margin-top: 50px;
  position: relative;
}

.experience {
  margin-top: 20px;
}

.job-title {
  float: left;
  font-weight: 500;
}

.job-year {
  text-align: right;
  font-weight: 500;
}

.job-company {
  float: left;
  font-weight: 300;
}

.job-location {
  text-align: right;
  font-weight: 300;
}

.job-description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.education {
  margin-top: 20px;
}

.edu-title {
  float: left;
  font-weight: 500;
}

.edu-year {
  text-align: right;
  font-weight: 500;
}

.edu-location {
  text-align: left;
  font-weight: 300;
}

.edu-description {
  margin-top: 10px;
  margin-bottom: 20px;
}

.skills {
  margin-top: 20px;
  height: 190px;
  background-color: rgba(0, 0, 0, 0.785);
  color: white;
}

.skills h3 {
  text-align: center;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 20px;
}

.skills ul {
  padding-left: 1px;
}

.skills li {
  list-style: none;
  text-align: center;
  font-weight: 200;
  font-size: 18px;
}
