.background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.container {
    position: relative;
    padding-top: 100px;
    z-index: 2;
}
