.background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.container {
  position: relative;
  padding-top: 100px;
  overflow: scroll;
  z-index: 2;
}

.test-shape{
  width: 100%;
  height: 150px;
  background-color: rgb(7, 175, 247);
  opacity: 25%;
  margin-bottom: 20px;
  position: relative;
}
