.nav {
  background-color: rgb(8, 52, 109);
  margin: auto;
}

.nav-item a:hover {
  color: rgb(255, 225, 77);
}

.nav-name{
    color: white;
    font-weight: lighter;
    font-size: 24px;
    margin: auto;
}
